<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Job Board</title>
    <link rel='stylesheet' href='Content/css/styles.css'>
    <script src="Content/js/jquery-3.0.0.js"></script>
    <script src="Content/js/scripts.js"></script>
  </head>
  <body>
    <h1>Job Board</h1>
    @{int jobIndex=0;}
    <ul>
      @foreach(var job in Model)
      {
        @{string detailsID="details"+jobIndex;}
        <li class="job-title" jobIndex=@jobIndex>@job.GetTitle()</li>
        <ul class="details" id=@detailsID>
          <li>@job.GetDescription()</li>
          <li>@job.GetContact().GetName()</li>
          <li>@job.GetContact().GetPhoneNumber()</li>
          <li>@job.GetContact().GetEmail()</li>
        </ul>
        @{jobIndex++;}
      }
    </ul>
    <br>
    <p>
      <a href="/search_form">Search Jobs</a>
      <a href="/add_job">Add Another Job</a>
      <a href="/">Home</a>
    </p>
  </body>
</html>
