<h3>@Model.GetTitle()</h3>
<p>@Model.GetDescription()</p>
<p>Contact Info:</p>
<p>@Model.GetContact().GetName()</p>
<p>@Model.GetContact().GetPhoneNumber()</p>
<p>@Model.GetContact().GetEmail()</p>

<p><a href="/view_all">View All Jobs</a></p>
<p><a href="/add_job">Add another Job</a></p>
